.Layout_Page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Layout_Footer {
    width: 95%;
    height: 10vh;
    background-color: black;
    margin-left: 05%;
    color: white;
    display: flex;
}

.Layout_Footer .Texto {
    width: 80%;
}

.Layout_Footer .Image {
    padding-left: 25%;
    padding-top: 0.5%;
    width: 30%;
}

.NavMenuSide {
    width: 5%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    border: 1px solid black;
    background-color: rgb(227, 230, 233);
    text-align: center;
}


.LogoBorder {
    border: 1px solid black;
    position: relative;
    border-radius: 100%;
    width: 65%;
    height: 7%;
    margin: 15% 0% 60% 18%;
    cursor: pointer;
}

.Tela {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    margin-top: 0%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: end;
}

.Tela>#formTela {
    align-self: center;
}

.TelaLogin {
    background-color: white;
    color: black;
    border-radius: 5%;
    width: 300%;
    text-align: center;
    margin-left: -100%;
    margin-top: 30%;
    height: 75vh;
}

.ProfileBIO {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 0.5%;
    background-color: rgb(216, 218, 218);
}

.ProfileBIO>#extraBio {
    width: 17%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    font-size: 120%;
    align-items: center;

}

.ProfileBIO>#MainBio {
    width: 65%;
    padding-left: 3%;
}

.ProfilePic {
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 100%;
    object-fit: cover;


}

.BannerPic{
    object-fit: none;
    width: 100%;
    height: 80vh;
}

.ProfilePicture {
    border-radius: 100%;
    width: 15%;
    height: 30vh;
    margin-top: -7%;
    margin-left: 1%;
    position: absolute;
    z-index: 1;
}

.BannerPicture{
    background-color: rgba(0, 0, 0, 0);
    width: 100%; 
    height: 55vh; 
    margin-top: -7.25%
}




.TelaRegister {
    margin-top: 02%;
    margin-left: 05%;
    width: 100%;
    height: 85vh;

}

.Title {
    font-size: 200% !important;
    font-family: system-ui;
    margin-bottom: -5%;
}

.TelaLogin>h3 {
    font-size: 17px;
}

.TelaLogin button {
    margin: 3%
}

.TelaMain {
    border: 1px solid black;
    background-color: rgb(209, 209, 209);
    width: 40%;
    height: 50vh;
    margin: 7% 10%;
    text-align: center;
    padding: 3%;
    border-radius: 10px
}


.Accounts {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 3%;
    height: 10vh;
}

.Error {
    border-radius: 2.5px;
    background-color: red;
    color: white;
    width: 70%;
    margin: 0% 0% 2% 15%;
    height: 4vh;
}

.Accounts form:hover {
    border: 1px solid black;
    border-radius: 10%;
    padding: 2%;
    cursor: pointer;
}

.ImgItem {
    width: 40%;
    height: 8%;
    margin: 0% 0% 0% 30%;
    cursor: pointer;
}

.PostBorder {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20%;
    height: 50px;
    padding-top: 17%;
    background-color: rgb(0, 55, 255);
    margin: 0% 15%;
}

.Search_bar {
    border: 1px solid black;
    z-index: 1;
    display: flex;
    background-color: rgb(204, 204, 204);
    width: 95%;
    height: 6vh;
    margin-left: 5%;
}

.Search_form {
    display: flex;
    width: 90%;
    height: 6vh;
}

.Search_input {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid black;
    margin-top: 0.4%;
    height: 70%;
    margin-left: 2%;
    padding-left: 1%;
    width: 100%;
}


.Search_button {
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(164, 164, 164);
    margin-top: 0.4%;
    padding-left: 1.5%;
    margin-left: -1%;
    padding-top: 0.1%;
    cursor: pointer;
    height: 70%;
    width: 7%;
}

.Search_button:hover {
    background-color: rgb(82, 82, 82);
}

.Header {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 95%;
    height: 12vh;
    font-size: 300%;
    align-self: center;
    justify-content: center;
    font-family: fantasy;
    margin-left: 5%;
}

.BlockSignIn {
    border: 1px solid black;
    border-radius: 3%;
    width: 30%;
    height: 70vh;
    margin-top: 5%;
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.TextoEspecial {
    margin-top: 10%;
}

.Titulo {
    font-size: 30px;
}

.TextoEspecial>.Titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ImageDrop {
    border: 1px dashed black;
    margin: 3% 35%;
    height: 15vh;
    padding-top: 3%;
}

.MiniTela {
    border-bottom: 1px solid black;
    height: 65vh;
    overflow-y: auto;
}




/*aqui são classes para alguns casinhos*/
.LoginButton {
    margin-top: 10%;
    width: 200%;
    height: 80%;
    padding: 10% 45%;
    border-radius: 10%;
}

.ButtonBlue {
    color: white;
    background-color: rgb(0, 115, 255);
}

.ReturnButton {
    border: 1px solid black;
    background-color: rgb(219, 219, 219);
}

.greenBG {
    background-color: green !important;
    color: white;
}

.greenBG:hover {
    background-color: rgb(4, 76, 4) !important;
    color: white;
}

.Button {
    border: 1px solid black;
    border-radius: 10px;
    width: 150%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 10%;
    padding-top: 3%;
    font-size: 25px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.ButtonBlue:hover {
    background-color: rgb(39, 39, 131);
    border: 1px solid white;

}


hr {
    border-color: black;
    width: 50%;
    margin-top: 10%;
}

span {
    margin: 0% 5%;
}

input {
    border: 1px solid black;
    border-radius: 2%;
    width: 70%;
    height: 40px;
    margin: 1%;
    padding: 0% 02%;
}

a{
    cursor: pointer;
}


/*IDs*/
#flex {
    display: flex;
    gap: 20px
}

#flexBottom {
    display: flex;
    gap: 20px;
    margin-bottom: 100%;
}

#botao {
    text-align: center;
    padding-top: 4%;
    width: 80%;
    margin-left: 15%;
    border-radius: 7px;
    cursor: pointer;
    height: 40px;
}